/* src/components/HowItWorksCard.css */

.howitworks-card {
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: none;
    border-top: 1px solid rgba(128, 128, 128, 0.3); /* Light gray border */
    border-radius: 8px;
    background-color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
}
  
  .howitworks-card:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5); /* Bootstrap success color outline */
  }
  
  .howitworks-icon {
    transition: transform 0.3s, color 0.3s;
    display: inline-flex;
  }
  
  .howitworks-card:hover .howitworks-icon,
  .howitworks-card:focus .howitworks-icon {
    transform: scale(1.2);
    color: #28a745; /* Bootstrap success color */

    }
  
  .more-info {
    margin-top: 10px;
    overflow: hidden;
  }
  
  .howitworks-card-wrapper {
    height: 100%;
    
  }
   
