/* src/components/HowItWorks.css */

#HowItWorks-container {
  background-color: #f8f9fa; /* Light gray background */
  padding: 60px 0;
}

#HowItWorks-container h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #343a40; /* Dark gray color */
}

@media (max-width: 768px) {
  #HowItWorks-container h2 {
    font-size: 2rem;
  }
}
